<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mapmyindia.sdk.demo">

    <application
        android:name=".MapApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".java.activity.StyleActivity"
            android:label="MapmyIndia Style" />
        <activity
            android:name=".kotlin.activity.StyleActivity"
            android:label="MapmyIndia Style Kotlin" />
        <activity android:name=".java.settingscreen.GeofenceWidgetSettingsActivity" />
        <activity android:name=".kotlin.settingscreen.GeofenceWidgetSettingsActivity" />
        <activity android:name=".java.settingscreen.DirectionWidgetSettingActivity" />
        <activity android:name=".kotlin.settingscreen.DirectionWidgetSettingActivity" />
        <activity android:name=".java.settingscreen.PlacePickerSettingsActivity" />
        <activity android:name=".kotlin.settingscreen.PlacePickerSettingsActivity" />
        <activity android:name=".kotlin.activity.TrackingActivity" />
        <activity android:name=".java.activity.TrackingActivity" />
        <activity android:name=".java.activity.InputActivity" />
        <activity
            android:name=".kotlin.activity.SafetyStripActivity"
            android:label="Safety Strip Kotlin" />
        <activity
            android:name=".java.settingscreen.PlaceAutocompleteSettingActivity"
            android:label="Place Widget Setting"
            android:parentActivityName=".java.activity.PlaceAutoCompleteActivity" />
        <activity
            android:name=".kotlin.settingscreen.PlaceAutocompleteSettingActivity"
            android:label="Place Widget Setting"
            android:parentActivityName=".kotlin.activity.PlaceAutoCompleteActivity" />
        <activity
            android:name=".kotlin.activity.NearbyPluginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".kotlin.activity.NearbyUiActivity" />
        <activity
            android:name=".java.activity.NearbyPluginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".java.activity.NearbyUiActivity" />
        <activity
            android:name=".kotlin.activity.DirectionWidgetActivity"
            android:label="Direction Widget Kotlin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".java.activity.DirectionWidgetActivity"
            android:label="Direction Widget"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".kotlin.activity.DirectionUiActivity"
            android:label="Direction UI Kotlin" />
        <activity
            android:name=".java.activity.DirectionUiActivity"
            android:label="Direction UI" />
        <activity
            android:name=".java.activity.MapFragmentActivity"
            android:label="Map Fragment Java" />
        <activity
            android:name=".kotlin.activity.MapFragmentActivity"
            android:label="Map Fragment Kotlin"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".kotlin.activity.GeoFenceActivity"
            android:label="GeoFence Kotlin" />
        <activity
            android:name=".java.activity.SafetyStripActivity"
            android:label="Safety Strip Java" />
        <activity
            android:name=".kotlin.activity.BasicGeofenceActivity"
            android:label="Basic Geofence Sample Kotlin" />
        <activity
            android:name=".kotlin.activity.GeoFenceDetailActivity"
            android:label="Geofence Detail Kotlin" />
        <activity
            android:name=".kotlin.activity.GeoFenceCustomActivity"
            android:label="Custom Geofence Sample Kotlin" />
        <activity
            android:name=".kotlin.activity.PickerActivity"
            android:label="Place Picker Kotlin" />
        <activity
            android:name=".kotlin.activity.ScalebarActivity"
            android:label="Scalebar Kotlin" />
        <activity
            android:name=".kotlin.activity.DirectionStepActivity"
            android:label="Direction Step Kotlin" />
        <activity
            android:name=".kotlin.activity.InteractiveLayerActivity"
            android:label="Interactive Layer Kotlin" />
        <activity
            android:name=".kotlin.activity.GesturesActivity"
            android:label="Map Gestures Kotlin" />
        <activity
            android:name=".java.activity.PickerActivity"
            android:label="Place Picker Java" />
        <activity
            android:name=".java.activity.ScalebarActivity"
            android:label="Scalebar Java" />
        <activity
            android:name=".java.activity.InteractiveLayerActivity"
            android:label="Interactive Layer Java" />
        <activity
            android:name=".java.activity.DirectionStepActivity"
            android:label="Direction Step Java" />
        <activity
            android:name=".java.activity.GesturesActivity"
            android:label="Map Gestures Java" />
        <activity
            android:name=".java.activity.GeoFenceActivity"
            android:label="Geofence Java" />
        <activity
            android:name=".java.activity.GeoFenceCustomActivity"
            android:label="Custom Geofence Java" />
        <activity
            android:name=".java.activity.BasicGeoFenceActivity"
            android:label="Basic Geofence Java"
            android:parentActivityName=".java.activity.GeoFenceActivity" />
        <activity
            android:name=".kotlin.activity.FullModeActivity"
            android:label="FullMode Activity Kotlin"
            android:parentActivityName=".kotlin.activity.PlaceAutoCompleteActivity" />
        <activity
            android:name=".kotlin.activity.CardModeActivity"
            android:label="CardMode Activity Kotlin"
            android:parentActivityName=".kotlin.activity.PlaceAutoCompleteActivity" />
        <activity
            android:name=".kotlin.activity.FullModeFragmentAutocompleteActivity"
            android:label="FullMode Fragment Kotlin"
            android:parentActivityName=".kotlin.activity.PlaceAutoCompleteActivity" />
        <activity
            android:name=".kotlin.activity.CardModeFragmentAutocompleteActivity"
            android:label="CardMode Fragment Kotlin"
            android:parentActivityName=".kotlin.activity.PlaceAutoCompleteActivity" />
        <activity
            android:name=".kotlin.activity.PlaceAutoCompleteActivity"
            android:label="Place AutoComplete Kotlin" />
        <activity
            android:name=".kotlin.activity.HeatMapActivity"
            android:label="Heat Map Kotlin" />
        <activity
            android:name=".java.activity.HeatMapActivity"
            android:label="Heat Map" />
        <activity
            android:name=".java.activity.MarkerDraggingActivity"
            android:label="Marker Dragging Java" />
        <activity
            android:name=".java.activity.CarAnimationActivity"
            android:label="Car Animation Java" />
        <activity
            android:name=".java.activity.SemiCirclePolylineActivity"
            android:label="Semi Circle Polyline Java" />
        <activity
            android:name=".java.activity.GradientPolylineActivity"
            android:label="Gradient Polyline Java" />
        <activity
            android:name=".java.activity.MarkerRotationTransitionActivity"
            android:label="Marker Rotation &amp; Transition Java" />
        <activity android:name=".java.activity.PlaceAutoCompleteActivity" />
        <activity
            android:name=".java.activity.CardModeFragmentAutocompleteActivity"
            android:label="CardMode Fragment Java"
            android:parentActivityName=".java.activity.PlaceAutoCompleteActivity" />
        <activity
            android:name=".java.activity.CardModeActivity"
            android:label="CardMode Activiy Java"
            android:parentActivityName=".java.activity.PlaceAutoCompleteActivity" />
        <activity
            android:name=".java.activity.FullModeActivity"
            android:label="FullMode Activity Java"
            android:parentActivityName=".java.activity.PlaceAutoCompleteActivity" />
        <activity
            android:name=".java.activity.FullModeFragmentAutocompleteActivity"
            android:label="FullMode Fragment Java"
            android:parentActivityName=".java.activity.PlaceAutoCompleteActivity" />
        <activity android:name=".kotlin.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".kotlin.activity.FeatureListActivityKotlin" />
        <activity
            android:name=".kotlin.activity.AddCustomMarkerActivitykt"
            android:label="Custom Marker Kotlin" />
        <activity
            android:name=".kotlin.activity.AddMarkerActivity"
            android:label="Add Marker Kotlin" />
        <activity
            android:name=".kotlin.activity.CameraActivity"
            android:label="Camera Features Kotlin" />
        <activity
            android:name=".kotlin.activity.MapClickActivity"
            android:label="Map Click Kotlin" />
        <activity
            android:name=".kotlin.activity.MapLongClickActivity"
            android:label="Map Long Click Kotlin" />
        <activity
            android:name=".kotlin.activity.PolylineActivity"
            android:label="Add Polyline Kotline" />
        <activity
            android:name=".kotlin.activity.PolygonActivity"
            android:label="Add Polygon Kotlin" />
        <activity
            android:name=".kotlin.activity.CurrentLocationActivity"
            android:label="Current Location Kotlin" />
        <activity
            android:name=".kotlin.activity.AutoSuggestActivity"
            android:label="AutoSuggest Kotlin" />
        <activity
            android:name=".kotlin.activity.GeoCodeActivity"
            android:label="GeoCode Kotlin" />
        <activity
            android:name=".kotlin.activity.ReverseGeocodeActivity"
            android:label="Reverse GeoCode Kotlin" />
        <activity
            android:name=".kotlin.activity.NearByActivity"
            android:label="Nearby Kotlin" />
        <activity
            android:name=".kotlin.activity.DirectionActivity"
            android:label="Direction Kotlin" />
        <activity
            android:name=".kotlin.activity.DistanceActivity"
            android:label="Distance Kotlin" />
        <activity
            android:name=".kotlin.activity.GradientPolylineActivity"
            android:label="Gradient Polyline Kotlin" />
        <activity
            android:name=".kotlin.activity.MarkerDraggingActivity"
            android:label="Marker Dragging Kotlin" />
        <activity
            android:name=".kotlin.activity.SemiCirclePolylineActivity"
            android:label="Semi circle Kotlin" />
        <activity
            android:name=".java.activity.CameraActivity"
            android:label="Camera Feature Java" />
        <activity android:name=".java.activity.FeaturesListActivity" />
        <activity
            android:name=".java.activity.MapClickActivity"
            android:label="Map Click Java" />
        <activity
            android:name=".java.activity.MapLongClickActivity"
            android:label="Map Long Click Java" />
        <activity
            android:name=".java.activity.AddMarkerActivity"
            android:label="Add Marker Java" />
        <activity
            android:name=".java.activity.AddCustomMarkerActivity"
            android:label="Custom Marker Java" />
        <activity
            android:name=".java.activity.PolylineActivity"
            android:label="Polyline Java" />
        <activity
            android:name=".java.activity.PolygonActivity"
            android:label="Polygon Java" />
        <activity
            android:name=".java.activity.CurrentLocationActivity"
            android:label="Current Location Java" />
        <activity
            android:name=".java.activity.AutoSuggestActivity"
            android:label="AutoSuggest Java" />
        <activity
            android:name=".java.activity.GeoCodeActivity"
            android:label="GeoCode Java" />
        <activity
            android:name=".java.activity.ReverseGeocodeActivity"
            android:label="Reverse GeoCode Java" />
        <activity
            android:name=".java.activity.NearByActivity"
            android:label="Nearby Java" />
        <activity
            android:name=".java.activity.SafetyPluginActivity"
            android:label="Safety Plugin Java" />
        <activity
            android:name=".java.activity.SnakeMotionPolylineActivity"
            android:label="Snake Polyline Java" />
        <activity
            android:name=".java.activity.HateOsNearbyActivity"
            android:label="HateOs Nearby Java" />
        <activity
            android:name=".java.activity.PoiAlongRouteActivity"
            android:label="POI Along Route Java" />
        <activity
            android:name=".java.activity.AddELocCustomMarkerActivity"
            android:label="ELoc Custom Marker Java" />
        <activity
            android:name=".kotlin.activity.AddELocCustomMarkerActivity"
            android:label="ELoc Custom Marker Kotlin" />
        <activity
            android:name=".java.activity.AddELocMarkerActivity"
            android:label="Eloc Marker Java" />
        <activity
            android:name=".kotlin.activity.AddELocMarkerActivity"
            android:label="Eloc Marker Kotlin" />
        <activity
            android:name=".java.activity.PlaceDetailActivity"
            android:label="Place Detail Java" />
        <activity
            android:name=".kotlin.activity.PlaceDetailActivity"
            android:label="Place Detail Kotlin" />
        <activity
            android:name=".java.activity.ELocCameraActivity"
            android:label="Eloc Camera Feature Java" />
        <activity
            android:name=".kotlin.activity.ELocCameraActivity"
            android:label="Eloc Camera Feature Kotlin" />
        <activity
            android:name=".java.activity.DirectionActivity"
            android:label="Direction Java" />
        <activity
            android:name=".java.activity.DistanceActivity"
            android:label="Distance Java" />
        <activity
            android:name=".kotlin.activity.MarkerRotationTransitionActivity"
            android:label="Marker Rotation &amp; Transition Kotlin" />
        <activity
            android:name=".kotlin.activity.CarAnimationActivity"
            android:label="Car Animation Kotlin" />
        <activity
            android:name=".java.activity.AddCustomInfoWindowActivity"
            android:label="Custom Info Window Java" />
        <activity
            android:name=".java.activity.IndoorActivity"
            android:label="Indoor Java" />
        <activity
            android:name=".kotlin.activity.IndoorActivity"
            android:label="Indoor Kotlin" />
        <activity
            android:name=".kotlin.activity.AddCustomInfoWindowActivity"
            android:label="Custom Info Window Kotlin" />
        <activity
            android:name=".kotlin.activity.SafetyPluginActivity"
            android:label="Safety Plugin Kotlin" />
        <activity
            android:name=".kotlin.activity.SnakeMotionPolylineActivity"
            android:label="Snake Polyline Kotlin" />
        <activity
            android:name=".kotlin.activity.HateOsNearbyActivity"
            android:label="Hate OS Nearby Kotlin" />
        <activity
            android:name=".kotlin.activity.PoiAlongRouteActivity"
            android:label="POI Along Route Kotlin" />
        <activity
            android:name=".java.activity.LocationCameraActivity"
            android:label="Location Camera Option Java" />
        <activity
            android:name=".kotlin.activity.LocationCameraActivity"
            android:label="Location Camera Option Kotlin" />
        <activity
            android:name=".java.activity.CustomCurrentLocationIconActivity"
            android:label="Custom Current Location Icon Java" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>